/* Colors */
:root {
   --blue: #006CFF;
   --black: #252A31;
   --purple: #B678FF;
   --yellow: #FFE761;
   --red: #F45E6D;
   --green: #61DEA4;
   --grey: #EBEFF5;
   --dul-red: #ff00007d;
 }

 
 /* Global-css */
 body {
   font-family: 'OpenSansLight';
   font-size: 22px;
 }

 h1 {
   font-size: 36px;
   line-height: 41px;
   font-weight: bold;
 }

 .wrapper {
   min-width: 320px;
 }

 .flex {
   display: flex;
 }