/* Colors */
:root {
   --blue: #006CFF;
   --black: #252A31;
   --purple: #B678FF;
   --yellow: #FFE761;
   --red: #F45E6D;
   --green: #61DEA4;
   --grey: #EBEFF5;
 }

 
 /* Global-css */
 body {
   font-family: 'OpenSansLight';
   font-size: 18px;
   min-width: 320px;
 }

 main {
    max-width: 935px;
    margin: 0 auto;
    height: 100vh;
 }

 h1 {
   font-size: 32px;
   line-height: 41px;
   letter-spacing: 0.01em;
   font-weight: bold;
 }

 .wrapper {
   max-width: 935px;
   min-width: 320px;
   margin: 0 auto;
 }

 .flex {
   display: flex;
 }