/* ========max-width: 450px======== */

@media only screen and (max-width: 450px) {
   #header-btn {
      display: none;
   }

   .header-list {
      display: none !important;
   }

   #header-btn-mobile {
      display: block;
   }
}