.header {
   width: 100%;
   padding: 15px 30px 15px 30px;
   justify-content: space-between;
   color: var(--black);
   border-bottom: 2px solid var(--green);
   position: fixed;
   background: var(--grey);
    z-index: 9000;
}

.header-logo svg {
   border-radius: 20px;
}

.header-title {
   margin-left: 20px;
}

.header-btn {
   cursor: pointer;
   position: relative;
   border-radius: 50%;
   height: 40px;
   width: 40px;
}

.header-btn:hover {
   background: #f1f4ff;
}

.header-btn-icon {
   position: absolute;
   top: 50%;
   right: 15%;
   transform: translate(-8%, -50%);
}

#header-btn-mobile {
   display: none;
}

.header-list {
   display: none;
   position: absolute;
   top: 60px;
   right: 30px;
   padding: 10px 20px;
   border-radius: 10px;
   background: #FFFFFF;
   border: 2px solid var(--grey);
}

.header-list li {
   cursor: pointer;
   padding: 10px 0;
}

.header-list li:hover {
   color: var(--blue);
}

#exit:hover {
   color: var(--red);
}

.mobile-menu {
   display: none;
   position: absolute;
   top: 0;
   left: 0;
   transform: translate(-0, -0);
   z-index: 90000;
   height: 100vh;
   width: 100vw;
   background: var(--green);
   padding: 100px 30px 0 30px;
}

.mobile-menu-list li {
   cursor: pointer;
   padding: 10px 0;
}

.mobile-menu-list li:hover {
   color: var(--grey);
}

.mobile-menu-exit {
   position: absolute;
   top: 30px;
   right: 30px;
   background: none;
   border: 1px solid var(--grey);
   border-radius: 50%;
   height: 40px;
   width: 40px;
   padding: 0;
   cursor: pointer;
}

.mobile-menu-exit:hover {
   background: var(--dul-red);
}

main {
   max-width: 1360px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
   grid-column-gap: 6px;
   grid-row-gap: 6px;
   padding: 80px 30px 0 30px;
   justify-content: center;
}

.main-section {
   position: relative;
   padding: 43px;
   background: var(--green);
   border-radius: 10px;
   justify-content: center;
   align-items: center;
   color: var(--black);
   cursor: pointer;
}

.main-section:hover {
   box-shadow: 0 0 6px rgba(0,0,0,0.5);
   opacity: 0.9;
}

.editSection {
   background: none;
   position: absolute;
   top: 10px;
   right: 10px;
   cursor: pointer;
}

.main-section .editSection:hover {
   transform: rotate(90deg);
   transition: 0.2s;
}

.deleteSection {
   background: none;
   position: absolute;
   bottom: 10px;
   right: 10px;
   cursor: pointer;
}

.deleteSection:hover {
   transform: rotate(45deg);
   transition: 0.1s;
}

.main-section-btn {
   padding: 40px;
   background: var(--green);
   border-radius: 10px;
   justify-content: center;
   align-items: center;
   color: var(--black);
   cursor: pointer;
}

.main-section-btn:hover {
   background: #7ec8a6;
}

#mainSectionName {
   background: none;
   border-radius: 10px;
   border: 1px solid var(--black);
   font-size: 15px;
   padding: 0 5px;
   text-align: center;
}

#addName {
   margin-left: 5px;
   border-radius: 50%;
   background: none;
   border: 1px solid var(--black);
   cursor: pointer;
}

.important-section {
   background: var(--red);
   color: var(--grey);
}

.work-section {
   background: var(--purple);
   color: var(--grey);
}

.personal-section {
   background: var(--blue);
   color: var(--grey);
}

.ideas-section {
   background: var(--yellow);
   color: var(--black);
}

.main-section-tab {
   position: fixed;
   top: 0;
   left: 0;
   transform: translate(-0, -0);
   z-index: 90000;
   height: 100vh;
   width: 100vw;
   background: var(--green);
   padding: 15px 30px;
   overflow: auto;
}

.section-tab-header {
   align-items: center;
}

.tab-header-btnExit {
   background: none;
   transform: rotate(270deg);
   cursor: pointer;
   margin-right: 20px;
}

.section-tab-btn {
   width: 100%;
   height: 100px;
   max-width: 600px;
   background: var(--black);
   opacity: 0.8;
   border-radius: 10px;
   align-items: center;
   justify-content: center;
   margin-top: 20px;
   cursor: pointer;
}

.section-tab-btn:hover {
   opacity: 1;
}

.section-tab-task {
   padding: 15px 10px;
   background: var(--black);
   opacity: 0.8;
   border-radius: 10px;
   align-items: center;
   box-shadow: -1px 0px 22px 13px rgba(34, 60, 80, 0.2);
   max-width: 600px;
   margin-top: 20px;
}

.section-tab-task button {
   background: none;
   margin-left: 10px;
   cursor: pointer;
}

.section-tab-item {
   padding: 15px 10px;
   background: var(--black);
   opacity: 0.8;
   border-radius: 10px;
   align-items: center;
   justify-content: space-between;
   box-shadow: -1px 0px 22px 13px rgba(34, 60, 80, 0.2);
   max-width: 600px;
   margin-top: 20px;
   color: var(--grey);
}

.section-tab-item button {
   background: none;
   margin-left: 10px;
   cursor: pointer;
}

.tab-task-textarea {
   background: none;
   width: 100%;
   color: var(--grey);
   font-size: 15px;
   padding: 5px 5px;
   border-radius: 10px;
   border: 1px solid var(--grey);
}